@import "tailwindcss";

@font-face {
  font-family: Poppins;
  src: url(/assets/fonts/Poppins-Thin.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Poppins;
  src: url(/assets/fonts/Poppins-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url(/assets/fonts/Poppins-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url(/assets/fonts/Poppins-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Poppins;
  src: url(/assets/fonts/Poppins-Bold.ttf);
  font-weight: 700;
}


body {
  font-family: "Poppins", sans-serif;
}

@theme {
  /* Font Size */
 --text-custom-4xl: 32px;
--text-custom-5xl: 40px;
--text-custom-6xl: 64px;


/* Color */
--color-dark-grey: #4E4E4E;
--color-dark-black: #010101;
--color-purple: #8C52FF;
--color-yellow: #F9DC00;
--color-white-100: #F8F8F8;
--color-blue: #0D5FCE;
--color-light-yellow: #F7DA00;
/* Line Height  */


--spacing-120: 120%;
--spacing-150: 150%;
}