@import "tailwindcss";


@font-face {
  font-family: Poppins;
  src: url(/assets/fonts/Poppins-Thin.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Poppins;
  src: url(/assets/fonts/Poppins-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url(/assets/fonts/Poppins-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url(/assets/fonts/Poppins-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Poppins;
  src: url(/assets/fonts/Poppins-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Inter;
  src: url(/assets/fonts/inter/Inter-Regular.otf);
  font-weight: 400;
}

body {
  font-family: "Poppins", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif !important;
}

@theme {
  /* Font Size */
  --text-custom-3xl: 28px;
  --text-custom-4xl: 32px;
  --text-custom-5xl: 40px;
  --text-custom-6xl: 64px;

  /* Color */
  --color-dark-grey: #4e4e4e;
  --color-dark-black: #010101;
  --color-purple: #8c52ff;
  --color-yellow: #f9dc00;
  --color-white-100: #f8f8f8;
  --color-blue: #0d5fce;
  --color-light-yellow: #f7da00;
  --color-dune: #343434;
  --color-off-purple: #8c52ff33;
  --color-light-purple: #e8dcff;
  --color-dolphin: #5d6180;
  --color-light-black: #0000001F;
  --background-our-coding: url("/assets/images/webp/coding-program-bg.webp");
  --background-find-best: url("/assets/images/webp/what-best-bg.webp");
  --background-our-blog: url("/assets/images/webp/our-blog-bg.webp");
  --color-fade-purple: #8c52ff14;
  --font-Inter: "Inter", sans-serif;
  --color-medium-gray: #747474;
  --color-rich-black: #0a0a0a;
  /* Line Height  */

  --spacing-100: 100%;
  --spacing-120: 120%;
  --spacing-150: 150%;
  --spacing-160: 160%;
  --shadow-light-dark: 0px 0px 32px 0px #0000000f;
  --shadow-bright-dark: 0px 0px 13px 0px #0000000f;
  --shadow-card-hover: 0px 0px 32px 0px #8c52ff1f;
}
 
@media (min-width: 768px) {
  .bg-our-coding {
    background-image: var(--background-our-coding);
  }

  .bg-find-best {
    background-image: var(--background-find-best);
  }

  .bg-our-blog {
    background-image: var(--background-our-blog);
  }
}

.learn-bg {
  background-image: url("/assets/images/webp/learn-bg.webp");
}

.bg-full {
  background-size: 100% 100%;
}

#about-pupilo .swiper-slide {
  height: unset !important;
}

.swiper-slide.swiper-slide-active .reviewSlide {
  border: 1px solid #8c52ff;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -2% !important;
}

.swiper-pagination-bullet-active {
  background: #8c52ff !important;
}

/* Custom Scrollbar */
.scrollbar-custom::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #a855f7;
  border-radius: 8px;
}

